<article class="page-wrap wrap">
  <header class="page-header r">
    <h1 class="display-md">{{ page.title }}</h1>
  </header>
  <div class="page-body rte r d1">
    {{ page.content }}
  </div>
</article>

{% schema %}
{
  "name": "Page",
  "tag": "div"
}
{% endschema %}
